<%= form_with(model: todo, local: true, class: 'mt-3') do |form| %>
  <% if todo.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title,
                        class: 'form-control',
                        placeholder: 'Enter a title here' %>
  </div>

    <%= form.submit class: 'btn btn-primary' %>
    <%= link_to 'Back', root_path, class: 'btn btn-secondary' %>
<% end %>
